body{
margin: 0%;
padding: 0%;
}
.menu-container{
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    padding: 10px;
}
.menu-items{
    display: flex;
}
.menu-items li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    
}
.font{
text-align: left;
margin-left: -380px;
font-size: 50px;
margin-top: 35%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.menu-items li:hover{
   color: brown;
   cursor: pointer;
}
.banner-container{
    color: white;
    display: flex;
    width: 100vw;
    height: 100;
    background-color: black;
   align-items: center;
}
.banner-discription{
    margin-bottom: 50px;
}
.banner-text{
    color: crimson;
    font-size: 25px;
}
.tittle-1{
    font-size: 60px;
    font-weight: bold;
}
.text{
    font-size: 20px;
    margin: 10px;
}
.banner-btn{
    background-color: red;
    color: whitesmoke;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
}